<li class="grid grid-cols-12 group text-sm text-gray-900 relative" id="project_user<%= member.id %>">
  <div class="px-6 py-3 text-left text-xs col-span-1 flex items-center"><%= index + 1 %>.</div>
  <div class="px-6 py-3 text-left text-xs col-span-4 font-medium text-gray-500 flex gap-2 tracking-wider whitespace-nowrap">
    <div class="flex w-16 h-16 rounded-full overflow-hidden bg-gray-200 relative <%= request.path.include?('/users/') && 'border-2 border-white'%>">
      <%= image_tag(member.user.image_as_thumbnail, class: "absolute object-cover") if member.user.image.attached? %>
      <span class="text-black m-auto text-lg font-semibold"><%= member.user.full_name[0] %></span>
    </div>
    <div class="flex flex-col justify-center">
      <p class="font-semibold text-md"><%= member.user.full_name %></p>
      <p class=""><%= member.user.email %></p>
    </div>
  </div>
  <div class="px-6 py-3 text-left text-xs col-span-2 font-medium capitalize text-gray-500 tracking-wider whitespace-nowrap flex items-center" data-controller= "member">
    <% if can?(:update, member) && member.role != 'owner' && member.user_id != current_user.id %>
      <%= form_for([member], url: project_user_path(member), method: :patch, data: { action: "turbo:submit-end->member#toggle" }) do |f| %>
        <%= f.select :role, [['Admin', 'admin'], ['Contributor', 'contributor']], {}, { class: "border-none pr-7", data: { action: 'change->member#toggle' } } %>
        <%= button_tag type: 'submit', class: "absolute right-0 hidden", data: { member_target: 'updateMember' } do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#008000" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
          </svg>
        <% end %>
      <% end %>
    <% else %>
      <%= member.role %>
    <% end %>
  </div>
  <div class="px-6 py-3 text-left text-xs col-span-3 font-medium text-gray-500 tracking-wider flex items-center">
    <p class="text-center"><%= member.user.profession.empty? ? '-' : member.user.profession %></p>
  </div>
  <% if can?(:destroy, member) && member.role != 'owner' && member.user_id != current_user.id %>
    <div class="px-6 py-3 text-left text-xs col-span-2 flex gap-5 items-center" data-controller="confirmation" data-id="<%= member.id %>">
      <button type="button" data-action="confirmation#toggle">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff0000" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
        </svg>
      </button>
      <%= render 'partials/shared/confirm_modal', path_url: project_user_path(member) %>
    </div>
  <% end %>
</li>
