<turbo-frame id="user<%= @user.id %>">
  <%= form_for(@user, url: user_path(@user), method: :patch, html: { class: "w-full flex justify-between" }) do |f| %>
    <div class="flex flex-col mt-4">
      <%= f.text_field :full_name, autofocus: true, placeholder: 'Full name here..', class: 'border-none text-3xl font-semibold' %>
      <%= f.text_field :profession, autofocus: true, placeholder: 'Profession here..', class: 'border-none text-xl text-gray-500' %>
      <p class="font-semibold text-xs p-2 rounded-lg w-fit bg-[#F7F7FA]">Addis Ababa, Ethiopia</p>
    </div>
    <%= button_tag type: 'submit' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#008000" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
      </svg>
    <% end %>
  <% end %>
</turbo-frame>
<turbo-frame id="user<%= @user.id %>-bio">
  <div class="w-full">
    <p class="text-xl font-semibold">Edit bio:</p>
    <%= form_for(@user, url: user_path(@user), method: :patch, html: { class: "w-full flex justify-between" }) do |f| %>
      <%= f.text_area :bio, autofocus: true, placeholder: 'Tell us about yourself...', class: 'p-3 w-full border-none shadow-inner' %>
      <%= button_tag type: 'submit' do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#008000" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
      <% end %>
    <% end %>
  </div>
</turbo-frame>
