<div class="border-2 px-4 py-3 rounded-md fixed top-2 text-black right-2 flex items-center gap-4 <%= success ? "bg-[#c9f1db] border-[#afffb8]" : "bg-[#fad9d7] border-[#f7bbb8]" %>" data-controller="flash" data-flash-target="message" >
  <span class="p-2 rounded-full <%= success ? "bg-[#4FDB6B]" : "bg-[#FC5657]" %>">
    <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="<%= success ? "#4FDB6B" : "#FC5657" %>" class="w-8 h-8">
      <% if success %>
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
      <% else %>
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      <% end %>
    </svg>
  </span>
  <div>
    <p class="font-bold"><%= success ? "Success!" : "Error!" %></p>
    <% if success %>
      <p><%= success %></p>
    <% else %>
      <% errors.each do |error, index| %>
        <p><span><%= errors.count > 1 ? '-' : '' %></span> <span><%= error %></span></p>
      <% end %>
    <% end %>
  </div>
</div>
