<div class="flex w-full h-screen bg-white text-black" style="background-image: url('https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZHVjdGl2ZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60'); background-position: center; background-size:cover">
  <div class="mx-auto flex flex-col gap-4 justify-center w-full md:w-2/5 px-10" style="transform: skewX(-6deg); box-shadow: 15px 0 50px black">
    <h2 class="text-4xl font-bold my-2" style="transform: skewX(6deg);">Change your password</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <div class="field my-5" style="transform: skewX(6deg);">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "border-none shadow-inner", placeholder: 'New password', required: true %>
      </div>
      <div class="field my-5" style="transform: skewX(6deg);">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border-none shadow-inner", placeholder: 'Confirm password', required: true %>
      </div>
      <div class="actions">
        <%= f.submit "Change my password", class: "bg-gradient-to-r from-[#8075F7] to-[#5CA7FC] w-full py-3 mt-10 rounded-md text-white" %>
      </div>
    <% end %>
  </div>
</div>
