<div class="fixed z-10 inset-0 items-center justify-center bg-black bg-opacity-50 transition-opacity duration-300 hidden" data-project-target="taskModal">
  <!-- Modal Content -->
  <div class="bg-white rounded-lg shadow-lg p-4 w-full relative z-20 max-w-md">
    <h2 class="text-lg font-semibold text-black mb-4">Let's create task!</h2>
    <%= form_for(new_task, url: tasks_path, data: { controller: 'checkbox-select-all', action: "turbo:submit-end->project#taskModalToggle", project_target: "form" }) do |f| %>
      <div class="field my-5">
        <%= f.hidden_field :milestone_id, value: milestone.id %>
        <%= f.hidden_field :project_id, value: milestone.project_id %>
        <%= f.text_field :description, autofocus: true, class: "border-none shadow-inner", placeholder: 'Description here..' %>
      </div>
      <div>
        <p>Assignees</p>
        <ul class="max-h-[240px] overflow-auto">
          <% members.each do |member| %>
            <li class="flex items-center space-x-2">
              <%= check_box_tag 'user_ids[]', member.user.id, false %>
              <%= label_tag "user_ids_#{member.user.id}" do %>
                <div class="px-6 py-2 text-left text-xs col-span-4 font-medium text-gray-500 flex gap-2 tracking-wider whitespace-nowrap">
                  <div class="flex w-16 h-16 rounded-full overflow-hidden bg-gray-200 relative <%= request.path.include?('/users/') && 'border-2 border-white'%>">
                    <%= image_tag(member.user.image_as_thumbnail, class: "absolute object-cover") if member.user.image.attached? %>
                    <span class="text-black m-auto text-lg font-semibold"><%= member.user.full_name[0] %></span>
                  </div>
                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-md"><%= member.user.full_name %></p>
                    <p class=""><%= member.user.email %></p>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="actions flex gap-3 items-center">
        <%= f.submit "Add", class: "bg-green-500 text-white px-3 py-1 rounded-md" %>
        <button data-action="project#taskModalToggle" type="button">Cancel</button>
      </div>
    <% end %>
  </div>
</div>
