<turbo-frame id="<%= task.id %>">
  <li class="grid grid-cols-12 group text-sm text-gray-900">
    <div class="flex justify-center items-center col-span-1">
      <% if can? :update, task %>
        <%= form_for(task, url: task_path(task), method: :patch, data: { turbo_frame: "_top" }, html: { id: "myForm#{task.id}" }) do |form| %>
          <%= hidden_field_tag "task[status]", "Completed", id: nil %>
          <%= button_tag data: { turbo_frame: "_top" }, type: 'submit', title: "Mark done", class: "group" do %>
            <div class="group-hover:hidden flex justify-center items-center">
              <% if task.status != 'Unassigned' %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#d3d3d3" class="group-hover:block w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              <% else %>
                <%= '-' %>
              <% end %>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#008000" class="hidden group-hover:block w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%= link_to task_path(task), method: :get, class: "p-3 col-span-3 whitespace-nowrap relative overflow-hidden", data: { turbo_stream: true } do %>
      <div class="absolute top-0 right-0 w-1/2 h-full bg-gradient-to-r from-transparent to-white"></div>
      <p><%= task.description || '-' %></p>
    <% end %>
    <div class="p-3 col-span-2">
      <div class="relative">
        <% if task.task_users.count > 0 %>
          <% task.task_users.each_with_index do |task_user, index| %>
            <% if index < 3 %>
              <div class="object-cover rounded-full overflow-hidden absolute left-0 top-0 ml-<%=index * 4%>">
                <div class="flex w-7 h-7 bg-gray-200 relative <%= request.path.include?('/users/') && 'border-2 border-white'%>">
                  <%= image_tag(task_user.user.image_as_thumbnail, class: "absolute object-cover h-full") if task_user.user.image.attached? %>
                  <span class="text-black m-auto text-xs font-semibold"><%= task_user.user.full_name[0] %></span>
                </div>
              </div>
            <% end %>
          <% end %>
          <% if task.task_users.count > 3 %>
            <span class="absolute ml-16">+<%= task.task_users.count - 3 %></span>
          <% end %>
        <% else %>
          -
        <% end %>
      </div>
    </div>
    <div class="p-3 col-span-2">
      <% if task.priority == 'High' %>
        <p class="text-red-500 font-semibold"><%= task.priority %></p>
      <% elsif task.priority == 'Medium' %>
        <p class="text-blue-500 font-semibold"><%= task.priority %></p>
      <% else %>
        <p class="text-green-500 font-semibold"><%= task.priority %></p>
      <% end %>
    </div>
    <div class="p-3 col-span-2 whitespace-nowrap"><%= task.status %></div>
    <% if can? :edit, task %>
      <div class="p-3 text-sm col-span-2 text-gray-900 flex gap-5 opacity-0 items-center group-hover:opacity-100">
        <%= button_to edit_task_path(task), method: :get, title: "Edit task" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#008000" class="w-5 h-5 cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>
        <% end %>
        <%= button_to task_path(task), method: :delete, title: "Delete task" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff0000" class="w-5 h-5 cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
        <% end %>
      </div>
    <% end %>
  </li>
</turbo-frame>
