<li class="group flex text-sm text-gray-900">
  <div class="p-2 w-7 flex items-center justify-center"><%= index %>.</div>
  <div class="grid grid-cols-12 flex-1">
    <div class="p-3 col-span-4 whitespace-nowrap relative overflow-hidden">
      <div class="absolute top-0 right-0 w-1/2 h-full bg-gradient-to-r from-transparent to-white"></div>
      <p><%= task.description %></p>
    </div>
    <div class="p-3 col-span-2">
      <div class="relative">
        <% if task.task_users.count > 0 %>
          <% task.task_users.each_with_index do |user, index| %>
            <img src="https://avatars.githubusercontent.com/u/72081991?v=4" alt="profile_pic" class="w-7 h-7 border-1 border-white rounded-full absolute left-0 top-0 ml-<%= index * 5 %>" />
          <% end %>
        <% else %>
          -
        <% end %>
      </div>
    </div>
    <div class="p-3 col-span-2">
      <% if task.priority == 'high' %>
        <p class="text-red-500 font-semibold inline-block h-full text-center capitalize"><%= task.priority %></p>
      <% elsif task.priority == 'medium' %>
        <p class="text-blue-500 font-semibold inline-block h-full text-center capitalize"><%= task.priority %></p>
      <% else %>
        <p class="text-green-500 font-semibold inline-block h-full text-center capitalize"><%= task.priority %></p>
      <% end %>
    </div>
    <div class="p-3 col-span-3"><%= task.completed_at&.strftime('%b %d, %Y') || '-' %></div>
    <div class="p-3 text-sm col-span-1 text-gray-900 flex gap-5 opacity-0 justify-end items-end group-hover:opacity-100">
      <%= button_to task_path(task), method: :delete do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff0000" class="w-5 h-5 cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>
      <% end %>
    </div>
  </div>
</li>
