<section class="py-10 relative md:py-20 md:w-5/6 mx-auto overflow-x-hidden flex-1 flex flex-col gap-16" data-controller="project">
  <div class="h-full flex flex-col justify-center box-border">
    <h1 class="text-2xl md:text-4xl"><span>Hi</span> <span class="font-bold"><%= @user&.full_name %></span></h1>
    <p class="text-sm md:text-lg text-gray-400 my-3">Welcome back to the workspace!</p>
  </div>
  <section class="flex flex-col gap-4 flex-1">
    <div class="flex items-center">
      <button class="text-xl px-5 py-2 border-r border-gray-500 font-semibold" data-project-target="categoryBtn" data-action="project#handleCategorySwitch" data-name="projects">
        <span>Projects</span>
        <span class="text-gray-400 font-thin">(<%= @projects.count %>)</span>
      </button>
      <button class="text-xl px-5 py-2 bg-gray-700 border-b border-gray-500 text-gray-400" data-project-target="categoryBtn" data-action="project#handleCategorySwitch" data-name="tasks">
        <%= link_to "Tasks", project_users_path, method: :get, data: { turbo_stream: true } %>
      </button>
    </div>
    <%= render 'partials/projects/user_projects_section', projects: @projects %>
    <%= render 'partials/projects/user_tasks_section' %>
    <div class="hidden fixed top-0 left-0 h-screen w-screen bg-black/50" data-project-target="modal">
      <%= render 'partials/projects/new_project', resource: @project %>
    </div>
  </section>
</section>
