<section class="relative py-5 px-10 md:w-[90%] flex-1 mx-auto overflow-x-hidden flex gap-5" data-controller="project">
  <aside class="bg-white text-black shadow-md p-5 flex flex-col lg:w-2/3 rounded-md min-h-full">
    <section class="flex flex-col gap-5">
      <div class="flex flex-col gap-3">
        <h1 class="text-2xl font-semibold capitalize"><%= @project.title %></h1>
        <p class="text-gray-600"><%= @project.description %></p>
      </div>
      <div class="grid grid-cols-3">
        <div class="col-span-2">
          <h3 class="text-lg font-semibold">Attached Documents:</h3>
          <p class="italic text-gray-500 text-sm">No documents attached</p>
        </div>
        <div class="grid col-span-1 gap-1">
          <div class="flex items-center justify-center">
            <h3 class="text-lg text-center font-semibold">Members</h3>
            <% if can? :create, @project_user %>
              <button class="rounded-full border border-gray-300 ml-1 p-1" data-action="project#memberModalToggle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="rgb(209 213 219" class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
              </button>
              <%= render 'partials/projects/new_project_member', member: @project_user, non_members: @non_members, project_id: @project.id %>
            <% end %>
          </div>
          <div class="flex justify-center" id="project_member_pics_container">
            <%= render 'partials/projects/project_member_pics', project_users: @project.project_users %>
          </div>
        </div>
      </div>
    </section>
    <div class="mt-10 flex flex-col gap-5">
      <nav class="flex">
        <ul class="w-full flex justify-around items-center border shadow-md border-gray-300 rounded-tr-md rounded-tl-md">
          <li class="flex-1 text-center min-w-max p-4 cursor-pointer bg-gray-200" data-project-target="projectTab" data-action="click->project#handleProjectTabSwitch" data-id="overview">Overview</li>
          <li class="flex-1 text-center min-w-max p-4 cursor-pointer" data-project-target="projectTab" data-action="click->project#handleProjectTabSwitch" data-id="milestones">Milestones</li>
          <li class="flex-1 text-center min-w-max p-4 cursor-pointer" data-project-target="projectTab" data-action="click->project#handleProjectTabSwitch" data-id="members">Team members</li>
          <ul>
          </nav>
          <%= render 'partials/projects/project_detail', project: @project, new_milestone: @new_milestone, member: @project_user %>
          <div class="mt-auto" data-controller="confirmation">
            <% if can? :destroy, @project %>
              <button class="flex gap-2 items-center text-white bg-red-500 hover:bg-red-600 px-3 py-2 rounded-md w-fit ml-auto" data-action="confirmation#toggle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>
                <span>Delete project</span>
              </button>
              <%= render 'partials/shared/confirm_modal', path_url: project_path %>
            <% end %>
          </div>
        </aside>
        <aside class="flex-1 flex flex-col gap-5">
          <div class="bg-white text-black shadow-md p-5 rounded-md flex flex-col gap-8 flex-1">
            <section class="w-full">
              <div class="flex justify-between">
                <div>
                  <p class="font-semibold"><%= @project_owner.full_name %></p>
                  <p class="text-sm text-gray-500">Web developer</p>
                </div>
                <div class="flex rounded-full overflow-hidden w-[70px] h-max"><%= image_tag(@project_owner.image_as_thumbnail) if @project_owner.image.attached? %></div>
              </div>
              <div>
                <p class="flex gap-2 items-center text-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                  </svg>
                  <span>Addis Ababa, Ethiopia</span>
                </p>
              </div>
            </section>
            <section>
              <h3 class="font-semibold mb-1">Bio</h3>
              <p class="text-gray-500 text-sm"><%= @project_owner.bio.truncate(80, omission: '...') %></p>
            </section>
          </div>
          <div class="bg-white text-black shadow-md p-5 rounded-md flex-1">
            <p>Message section</p>
          </div>
        </aside>
      </section>
