<div class="flex w-full">
  <div class="flex-1 bg-gray-500"></div>
  <div class="mx-auto flex flex-col gap-4 justify-center w-full md:w-2/5 px-10">
    <div>
      <h2 class="text-4xl font-bold my-2">Welcome back!</h2>
      <p class="text-gray-600">There is more to be done today.</p>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field my-5">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border-none shadow-inner", placeholder: 'Email here..', required: true %>
      </div>
      <div class="field my-5">
        <%= f.password_field :password, autocomplete: "current-password", class: "border-none shadow-inner", placeholder: 'Password..', required: true %>
      </div>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "mx-auto" %><br />
      <% end %>
      <div class="actions">
        <%= f.submit "SIGN IN", class: "bg-gradient-to-r from-[#8075F7] to-[#5CA7FC] w-full py-3 mt-10 rounded-md text-white cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
