<nav class="px-5 md:px-0 md:w-5/6 mx-auto flex justify-between py-3 relative" data-controller="navigation">
  <button class="md:hidden p-2 rounded-lg text-white" data-action="navigation#toggle" data-navigation-target="menuOpen">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
      <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75H12a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
    </svg>
    <button class="hidden p-2 hover:rotate-180 duration-200" data-action="navigation#toggle" data-navigation-target="menuClose">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
      </svg>
    </button>
  </button>
  <ul class="absolute md:static z-10 bg-gray-700 top-full hidden md:flex flex-col md:bg-transparent p-3 shadow-md md:flex-row gap-3 md:gap-10 text-gray-400 duration-150 opacity-0 scale-90 invisible md:opacity-100 md:scale-100 md:visible" data-navigation-target="navOptions">
    <li>
      <button class="flex flex-col items-center gap-2 hover:text-white <%= request.path == '/' && 'text-white' %>">
        <%= link_to root_path, method: :get do %>
          <div class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            <p class="w-max">Projects</p>
          </div>
        <% end %>
      </button>
    </li>
    <li>
      <button class="flex flex-col items-center gap-2 hover:text-white <%= request.path == '/messages' && 'text-white' %>">
        <%= link_to "#", method: :get do %>
          <div class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
            </svg>
            <p class="w-max">Messages</p>
          </div>
        <% end %>
      </button>
    </li>
    <li>
      <button class="flex flex-col items-center gap-2 hover:text-white <%= request.path == '/notifications' && 'text-white' %>">
        <%= link_to '#', method: :get do %>
          <div class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
            </svg>
            <p class="w-max">Notifications</p>
          </div>
        <% end %>
      </button>
    </li>
  </ul>
  <div class="flex gap-2 items-center cursor-pointer relative" data-controller="header" data-action="click->header#toggle">
    <div class="flex w-12 h-12 rounded-full overflow-hidden bg-gray-200 relative <%= request.path.include?('/users/') && 'border-2 border-white'%>">
      <img src="https://avatars.githubusercontent.com/u/72081991?v=4" alt="profile_pic" class="object-cover absolute" />
      <span class="text-black m-auto text-lg font-semibold"><%= current_user.full_name[0] %></span>
    </div>
    <button type='button' data-header-target="dropDown">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3">
        <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z" clip-rule="evenodd" />
      </svg>
    </button>
    <div class="bg-gray-700 py-1 shadow-md min-w-[180px] absolute z-10 mt-3 top-full right-0 duration-150 opacity-0 scale-90 invisible" data-header-target="profileOptions">
      <ul>
        <li class="px-3 py-2">
          <button class="flex flex-col items-center gap-2">
            <%= link_to user_path(current_user), method: :get do %>
              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <p class="w-max"><%= current_user.full_name %></p>
              </div>
            <% end %>
          </button>
        </li>
        <li class="px-3 py-2">
          <button class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
            </svg>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %></button>
        </li>
      </ul>
    </div>
  </div>
</nav>
